<!DOCTYPE html>
<html>
<head>
    <%- include partial/common-head.ejs %>
    <link href="/css/cardPage.css" rel="stylesheet">
    <meta name="title" content="<%= title %>" />
</head>
<body>

	<div id="cardpage_div" style = "background:url(<%= data.img %>) no-repeat;  ">

		<div id="cardpage_content_div">
			<div id="cardpage_content_div_div">
				<font size = "<%= data.fontSize %>" face = "<%= data.font %>">
					<label id="cardpage_content" disabled> <%= data.content %> </label>
				</font>
			</div>

			<div id="cardpage_source_div">
				<font size = "12dp" face = "sans">
					<textarea id="cardpage_content_souce" disabled> <%= data.source %> </textarea>
				</font>
			</div>
		</div>

		<div id="cardpage_updatedDate_div">
			<label><font size = "12" face = "굴림체"> <%= data.updatedDate %> </font> </label>
		</div>

	</div>

	<script type="text/javascript" src="/card.bundle.js" charset="utf-8"></script>
	<!-- Go to www.addthis.com/dashboard to customize your tools -->
	<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-579f14fbebabdd9d"></script>
</body>
</html>


<!--
투명도 opacity:.1;
-->