<!DOCTYPE html>
<html>
<head>
    <%- include partial/common-head.ejs %>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
    <!-- Link Swiper's CSS -->
    <link rel="stylesheet" href="/stylesheets/swiper.min.css">
    <link rel="stylesheet" href="/stylesheets/swiper_scroll.css">
    <link rel="stylesheet" href="/stylesheets/card-user-page.css">
</head>
<body>
<%- include partial/common-nav-usercard.ejs %>
<p id="user_info">
<label id="userId" ><%=userId%></label> <label id="userCardCount" >총<%=CardCount%>개의 글을 작성하였습니다.</label> 
<div></div>
<!--Swiper-->
<%- include partial/card-usercard.ejs %>


<!--Swiper Js-->
<script src="/javascripts/templates/swiper.min.js"></script>
<script src="/javascripts/templates/swiper_scroll.js"></script>
<script type="text/javascript" src="/card-usercard.bundle.js" charset="utf-8"></script>
</body>
</html>