<!DOCTYPE html>
<html>
<head>
    <%- include partial/common-head.ejs %>
</head>
<body>
<p>id <%= id %></p>
<p>email <%= email %></p>
<p>nickname <%= nickname %></p>
<p>password <%= password %></p>
<p>updatedDate <%= updatedDate %></p>
<p>createdDate <%= createdDate %></p>
</body>
</html>