
<div class="swiper-container">
	<div class="swiper-wrapper">
	<% for(var i = 0; i < data.length; i++) { %>
		<div class="swiper-slide" 
			style="background-image:url('<%= imgIP + data[i].img %>');background-size:cover;">
			<a href="/cards/<%= data[i].id %>" style="height:100%">
				<div id="card-content" style="color:white;font-family:'Nanum Myeongjo';line-height:200%;text-align:center;display:table;font-weight:bold;">

				<% for(var j = 0 ; j < data[i].content.length ; j++){ %>
					<span style="font-size:<%= data[i].fontSize %>px;"><%=data[i].content[j] %></span><br/>
				<% } %>
				<br/><br/>
				<span>- <%= data[i].source %> -</span>
				<br/>
				<span> <%= data[i].updatedDate %> </span>
				</div>
			</a>
		</div>
	<% } %>
	</div>	
</div>